body {
  background-color: #f0f2fc;
  margin-top: -5px;
  font-family: Teko, sans-serif;
  
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  border-width: 1px;
  width: 100%;
}

.header-name {
  font-weight: 700;
  font-size: 25px;
  transition: transform 0.3s ease;
  margin-left: 10px;
}

.header-name:hover {
  transform: scale(1.1);
}

.hyperlinks {
  display: flex;
  flex-wrap: wrap;  /* to make the hyperlink adjust according to the screen width*/
}

.header img {
  height: 30px;
  margin-right: 10px;
}

.header div {
  display: flex;
  align-items: center;
}

.header div p {
  font-family: 'Teko', sans-serif;
  font-size: 25px;
  margin-right: 10px;
}

.page-box {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.welcome-section {
  width: 80%;
  justify-self: center;
  background-color: #7a7a15;
  display: grid;
  place-items: center;
  margin-top: 90px;
  margin-bottom: 90px;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.4);
  padding: 10px;
}

.home-icon, .about-icon, .project-icon, .contact-icon {
  transition: transform 0.3s ease;
}

.home-icon:hover, .about-icon:hover, .project-icon:hover, .contact-icon:hover {
  transform: scale(1.1);
}


.welcome-section p {
  font-weight: 500;
  font-family: teko, sans-serif;
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.description {
  font-size: 20px;
}

.name {
  font-size: 50px;
}